
@media (min-width: 768px) {
    .admin-page {
        background-color:#1a8fb4;
    }

	  .category-list-containor .form-control {
		width: 99%;
	  }
	  .admin-page .navbar-collapse {
	    height: auto;
	    border-top: 0;
	    box-shadow: none;
	    max-height: none;
	    padding-left:0;
	    padding-right:0;
	  }
	  .admin-page .navbar-collapse.collapse {
	    display: block !important;
	    width: auto !important;
	    padding-bottom: 0;
	    overflow: visible !important;
	  }
	  .admin-page .navbar-collapse.in {
	    overflow-x: visible;
	  }
	
		.admin-page .navbar
		{
			max-width:246px;
			margin-right: 0;
			margin-left: 0;
		}	
		
		.admin-page .navbar-nav,
		.admin-page .navbar-nav > li,
		.admin-page .navbar-left,
		.admin-page .navbar-right,
		.admin-page .navbar-header
		{float:none !important;}
		
		.admin-page .navbar-right .dropdown-menu {left:0;right:auto;}
		.admin-page .navbar-collapse .navbar-nav.navbar-right:last-child {
		    margin-right: 0;
		}
		
		/*.admin-nav-bar-containor .custom-admin-nav-bar{
			width: 100%;
			height: 100%;
			position: fixed;
		}
		 .admin-page .admin-nav-bar-outer-containor{
	   		position:fixed;
	   }*/
	}
	@media (min-width: 768px) and (max-width: 991px){
		
		.admin-page .admin-nav-bar-containor{
			width: 25%;
		}
		.admin-page .admin-left-bar-containor{
			padding: 15px;
			position: fixed;
			height: 100%;
			background-color: #f8f8f8;
	    	border:1px solid #e7e7e7;
	    	overflow: scroll;
			width: 75%;
		}
		.admin-page .admin-header-bar .admin-header-left-info{
			width: 25%;
		}
	}
	@media (min-width: 991px){
		.admin-page .admin-nav-bar-containor{
			width: 18%;
		}
		.admin-page .admin-left-bar-containor{
			padding: 15px;
			position: fixed;
			height: 100%;
			background-color: #f8f8f8;
	    	border:1px solid #e7e7e7;
	    	overflow: scroll;
		}
		.admin-page .admin-header-bar .admin-header-left-info{
			width: 18%;
		}
	}

	.admin-page .admin-nav-bar-containor .custom-admin-nav-bar{
		background-color: #1a8fb4;
		border: 1px;
		border-radius:0px;
	}
	.admin-page .custom-admin-nav-bar .navbar-nav li a{
    	color: white;
	}
	.admin-page .custom-admin-nav-bar .navbar-nav li a:HOVER{
    	color: #f8f9fa;
    	background-color: #252f40;
	}
	.admin-page .active-nav-item{
		color: #f8f9fa!important;
    	background-color: #252f40!important;
	}
	.admin-page .admin-header-bar{
		background-color: #1a8fb4!important;
		height: 50px;
		position: fixed;
		width: 100%;
		top: 0px;
		color: #fff;
		z-index: 999;
	}
	.admin-page .admin-header-bar .admin-header-left-info{
		padding: 14px;
		background-color: #1a8fb4;
	}
	.admin-page .admin-header-bar .admin-header-right-info{
		box-shadow: 0 0 1px 0;
	}
	.admin-page .admin-header-bar .admin-header-right-info .custom-right-info{
		padding: 15px;
		text-align: left;
	}
	.admin-header-left-info {
		border: 1px solid white;
	}
	.admin-page .admin-header-bar .admin-header-left-info h4{
		margin: 0px;
	}
	.admin-page .admin-header-bar .admin-header-right-info h4,h5{
		margin: 0px;
	}
   .admin-page .admin-nav-bar-outer-containor{
   		top: 50px;
   }
   .admin-header-bar .admin-header-inner-bar{
   	padding-right: 0px;
   	padding-left: 0px;
   }
   .admin-header-bar .custom-header-image{
   	 height: 50px;
   	 margin: 0;
     width: 100%;
   }
   .admin-header-right-info:HOVER .dropdown-menu{
   		display: block!important;
   }	
   .admin-header-right-info .dropdown-menu{
   		border-radius:0px;
   		border: 1px solid #1a8fb4;
   		margin: 0px;
   		border-top: 0px;
   		right: 1px;
   		min-width:152px;
   }
   .admin-page .btn-primary{
   	background-color: #1a8fb4;
   }
   textarea{
   	resize:none;
   }
	.margin-bottom-30 {
		margin-bottom: 30px;
	}
	.custom-image-category-containor {
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0 0 4px 3px #eee;
		padding: 10px;
		margin: 0 auto;
	}
	
	.admin-page .table {
		margin: 0px;
	}
	
	.custom-category-image {
		margin-bottom: 0px;
	}
	.no-margin-bottom {
	margin-bottom: 0px;
}

.no-padding {
	padding: 0px;
}

.margin-top-10 {
	margin-top: 10px;
}
.success-text {
    color: green;
    font-size: 12px;
    display:none;
}

.main-table-container {
    max-width: 900px !important;
}
.main-table-container .main-msg-container {
    max-width: 465px;
    height: 320px !important;
}

.main-msg-container .chat-container {
    height: 230px !important;
}

@media all and (max-width: 767px) {
	#txtSearch {
		margin-bottom: 10px;
	}
}
